<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="app.component.css">
</head>
<body>
  <section class="layout">
<div class="user-profile">
  <h3>User Profile</h3>
    <form class="user-form">
      <mat-form-field class="example-full-width">
        <mat-label>First Name:</mat-label>
        <input matInput placeholder="First name" value=""  >
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Middle Name:</mat-label>
        <input matInput placeholder="Middle name" value=""  >
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Last Name</mat-label>
        <input matInput placeholder="Last name" value=""   >
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Email Address:</mat-label>
        <input matInput placeholder="Email Address" value=""   >
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Mobile Number:</mat-label>
        <input matInput placeholder="Mobile Number" value=""   >
      </mat-form-field>
      <div class="button-row">
        <button (click)="AddUser()" mat-button class="user-button">Create User</button>
      </div>
    </form>
  </div>

  <div class="user-list">
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>First Name</th>
          <th>Middle Name</th>
          <th>lastName</th>
          <th>emailAddress</th>
          <th>mobileNumber</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users; let i = index">
          <td>{{i}}</td>
          <td>{{user.firstName}}</td>
          <td>{{user.middleName}}</td>
          <td>{{user.lastName}}</td>
          <td>{{user.emailAddress}}</td>
          <td>{{user.mobileNumber}}</td>
      </tr>
      </tbody>
    </table>
  </div>
  </section>

</body>
</html>